body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 35px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #322c2c; /* Web sayfasının arka plan rengi */
    color: #ff0000; /* Metin rengi */
}

h1 {
    color: #3c00ff; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}