body {
    font-family: Arial, sans-serif;       /* Tüm sayfa yazı tipi */
    font-size: 35px;                      /* Paragrafların yazı boyutu */
    background-color: #322c2c;            /* Arka plan koyu gri */
    color: #ff0000;                       /* Tüm metinler kırmızı */
}

h1 {
    color: #3c00ff;                       /* Başlık (h1) mavi */
    font-size: 24px;                      /* Başlık daha küçük */
    font-family: Georgia, serif;          /* Başlık yazı tipi klasik */
}

/* Sekme menüsü için */

.page {
  display: none;
  padding: 20px;
}

.menu {
  background-color: #222;
  padding: 10px;
  text-align: center;
}

.tablink {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 18px;
}

.tablink:hover {
  background-color: #666;
}

